.grid > div {
  border: 1px solid #444444;
}
.nogrid > div {
  border: 1px solid transparent;
}

.cube {
  width: 460px; // width: 345px;
  margin-top: 20px;
  background-color: #333333;
  user-select: none;

  div {
    width: 25px;
    height: 25px;
    margin: 1px;
    display: inline-block;

    &:hover {
      border: 1px solid #d8d8d8;
      background-color: #6d6d6d;
      cursor: pointer;
    }
  }
}

.btn {
  button {
    margin: 5px;
    padding: 4px;
    cursor: pointer;
  }
  span {
    color: #d8d8d8;
    font-size: 14px;
    margin: 5px;
  }
}

.boardsize {
  display: flex;
  width: 400px;
  margin: 10px 0 10px 0;
  border: 1px solid #444444;
  padding: 5px;
  border-radius: 0.5rem;

  span,
  input {
    margin-right: 15px;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
