@use "styles/nav.scss";
@use "styles/cube.scss";
@use "styles/tools.scss";
@use "styles/rainbow.scss";
@use "styles/shoutbox.scss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

* {
  font-family: DejaVu Sans Mono, monospace;
  hyphens: auto;
}

details summary {
  cursor: pointer;
}

.home {
  max-width: 600px;
  margin: 30px;
}
