@use "styles/shoutbox.scss";

* {
  font-family: DejaVu Sans Mono, monospace;
  hyphens: auto;

  font-size: 14px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.Canvas {
  overflow: hidden;
  min-height: 100vh;
  background-color: #f3f4f6;

  ._c {
    width: max-content;
  }

  .ctxw {
    padding: 0.5px;
  }
}

.connection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;

  button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-width: 1px;
  }
}

.Tools {
  display: flex;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
  padding: 0.5rem 1rem 0.5rem 1rem;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: #e5e7eb9b;
  backdrop-filter: blur(4px);

  .picker {
    position: fixed;
    bottom: 5rem;
    left: 1rem;
  }

  .inputColor {
    display: flex;

    button {
      margin-left: 10px;
      background-color: #e5e7eb;
      width: 60px;
    }
  }
}

.Controls {
  display: flex;
  gap: 1rem;
  align-items: center;

  span {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 500;
  }

  div {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
}

.Infos {
  display: flex;
  flex-direction: column;

  .infoBox {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .title {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 500;
  }

  .posBox {
    display: flex;
    gap: 0.25rem;
    align-items: center;
  }

  .posName {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
  }

  .pos {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 300;
  }
}
