@use "styles/nav.scss";
@use "styles/cube.scss";
@use "styles/tools.scss";
@use "styles/rainbow.scss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

details {
  cursor: pointer;
}
